{% extends 'profile_layout.html.twig' %}

{% block header_extra %}


{% endblock %}

{% block content %}

<div class="row-fluid">
	<div id="weekly_summary" class="home_content_div span12">
		<div class="content_title">
			Weekly Summary
		</div>

		<div class="row-fluid">
			<div id="weekly_usage" class="span4">
				<p>You have used </p>
				<span>60 KWh</span>
				<p><i class="icon-arrow-down" style="margin-top: 6px;"></i> 10 KWh from last week</p>
			</div>

			<div id="weekly_cost" class="span4">
				<p>at a cost of</p>
				<span>$0.16 /h</span>
				<p><i class="icon-arrow-down" style="margin-top: 6px;"></i> .004/hour from last week</p>
			</div>

			<div id="other" class="span4">
				<div class="weekly_actions">
					You added 3 things to your profile.
					<br>
					See changes
				</div>
				<div class="weekly_actions">
					You met 1 goal.
					<br>
					See Goals
				</div>
			</div>
		</div>

	</div>
</div>

<div class="row-fluid">
	<div id="profile_breakdonw" class="home_content_div span5">
		<div class="content_title">
			Profile Breakdown
		</div>		
	</div>

	<div id="week_graph" class="home_content_div span7">
		<div class="content_title">
			Past Week Graph
		</div>
	</div>
</div>


<div class="row-fluid">
	<div id="comparison_box" class="home_content_div span5">
		<div class="content_title">
			Comparison
		</div>
	</div>

	<div id="goals_box" class="home_content_div span7">
		<div class="content_title">
			Goals
		</div>

		{% if goals|length != 0 %}
		<table class="table" style="width:95%; border-bottom: 1px solid #DDD; margin: 15px auto;">

			{% for goal in goals if loop.index < 6 %}
				<tr>
				<td style="padding:3px;"><h5>{{ goal.title }}</h5><p style="font-size: .75em; padding: 0; margin: 0;"> {{ goal.description }}</p></td>
				<td style="padding:3px;">
					<button class="btn btn-mini pull-right goal_action details" style="float: right;" id="{{goal.instance_id}}">Details</button>
					<button class="btn btn-mini pull-right goal_action complete" style="float: right;" id="{{goal.instance_id}}">Complete</button>
				</td>
				</tr>
			{%endfor%}
		</table>
		{% else %}
			<p>You currently have no goals, how sad :(

		{% endif %}

		</table>

		<div id="add_goal"><btn class="btn btn-mini btn-success"><i class="icon-plus icon-white"></i>Add More</btn></div>
	</div>
</div>

<!--
<div id="newProfile">
	Start Profile
</div>

<div id="tab">
	<h4>Progress</h4>
</div>

<div id="progress">

	<div id="monthlyEstimate">
		<h2>Monthly Estimates</h2>
		<h3>Estimated Usage: <b>275 - 375 kw/H</b></h3>
		<h3>Estimated Cost: <b>$65.00 - $97.00</b> </h3>
		<h3>Energy Efficiency: <b>65%</b></h3>
		What is this?
	</div>

	<div id = "monthlyDevice">
		<h2>Monthly Device</h2>
	</div>
</div>

<div id="tab">
	<h4>Goals</h4>
</div>

<div id="goals">

<div class="goals_container">
<h2 style="margin-left: 40px;">Active Goals</h2>
{% if goals|length != 0 %}

<table class="table table-striped" style="width:90%; border-bottom: 1px solid #DDD; margin: 15px auto;">
{% endif %}

	{% for goal in goals if loop.index < 6 %}
		<tr>
		<td style="padding:3px; width: 75px;">{{ goal.category_id }}</td>
		<td style="padding:3px;">{{ goal.description }}</td>
		<td style="padding:3px;">
			<button class="btn btn-mini pull-right goal_action details" style="float: right;" id="{{goal.instance_id}}">Details</button>
			<button class="btn btn-mini pull-right goal_action complete" style="float: right;" id="{{goal.instance_id}}">Complete</button>
		</td>
		</tr>
	{% else %}
		<p> You currently have no goals... how sad. </p>
	{% endfor %}

{% if goals|length != 0 %}
</table>
{% endif %}
<h2 style="margin-left: 40px;">Suggested Goals</h2>
{% if goals|length != 0 %}

<table class="table table-striped" style="width:90%; border-bottom: 1px solid #DDD; margin: 15px auto;">
{% endif %}

	{% for goal in goals if loop.index < 6 %}
		<tr>
		<td style="padding:3px; width: 75px;">{{ goal.category_id }}</td>
		<td style="padding:3px;">{{ goal.description }}</td>
		<td style="padding:3px;">
			<button class="btn btn-mini pull-right goal_action" style="float: right;">Details</button>
			<button class="btn btn-mini pull-right goal_action" style="float: right;">Complete</button>
		</td>
		</tr>
	{% else %}
		<p> You currently have no goals... how sad. </p>
	{% endfor %}

{% if goals|length != 0 %}
</table>
{% endif %}
</div>

<div class="progress_container">
<h2>Savings</h2>
<h2 style="text-align:center;"> {{goals_completed|length}} of {{goals|length + goals_completed|length}} goals completed for a total of $25/year saved!</h2>
</div>
</div>-->
{% endblock %}