<html>
<head>
		<script>
			var WEB_ROOT = '{{flash['web_root']}}';
		</script>
		<script src="{{flash['web_root']}}/lib/js/jquery.js"></script>
		<link href="{{flash['web_root']}}/lib/bootstrap/css/bootstrap.css" rel="stylesheet">
		<link href="{{flash['web_root']}}/lib/bootstrap/css/bootstrap-responsive.css" rel="stylesheet">
		<link href="{{flash['web_root']}}/lib/smartmeter.css" rel="stylesheet">

		<style type="text/css">
			body {
				padding-top: 40px;
				padding-bottom: 20px;
			}
		</style>
		{% block header_extra %}{% endblock %}
</head>
	<body>
		<!-- Navigation bar -->
		<div class="navbar navbar-fixed-top">
			<div class="navbar-inner">
				<div class="container" style="">
				</div>
			</div>

			</div>
		</div>

<div class="container">

<div class="main">
	<div class="left_bar">
		{% block left_bar %}
		{% endblock %}
	</div>


	<div class="content">
{% if flash['header'] %}
<div class='alert alert-success'>{{ flash['header'] }}</div>
{% elseif flash['error'] %}
<div class='alert alert-error'>{{ flash['error'] }}</div>
{% endif %}		

		{% block content %}
		{% endblock %}
	</div>


</div>
</div>




<!--Scripts that are dependent on the DOM-->
	<!--<script src="{{flash['web_root']}}/js/underscore.js"></script>
	<script src="{{flash['web_root']}}/js/backbone.js"></script>-->
	<script src="{{flash['web_root']}}/bootstrap/js/bootstrap.js"></script>
</body>
</html>